.blog h1 {
  font-size: var(--size-step-4);
}

.blog h2 {
  font-size: var(--size-step-3);
}

.blog h3, .blog-card h2 {
  font-size: var(--size-step-2);
}
.blog-card {
  padding: 1.5em;
}

.blog-card h2 {
  color:var(--color-light);
}

.blog img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
}
