.gradient-text {
  color: transparent;
  background: var(--color-primary);
  padding: 1.5rem 0;
  background-size: 100%;
  background-clip: text;
  position: relative;
  margin-bottom: 6rem;
}

h1.gradient-text::before, h1.gradient-text::after {
  content:"";
  font-size: 75%;
  position: absolute;
  color: var(--color-secondary);
}

h1.gradient-text::before {
  content: '<!--';
  top: -3.3rem;
  left: 0
}

h1.gradient-text::after {
  content: '-->';
  top: 9rem;
  left: 41%;
  text-align: right;
}