.gradient-text {
  color: transparent;
  background: var(--color-primary);
  padding: 1.5rem 0;
  background-size: 100%;
  background-clip: text;
  position: relative;
}

h1.gradient-text::before, h1.gradient-text::after {
  content:"";
  font-size: 75%;
  position: absolute;
  color: var(--color-secondary);
}

h1.gradient-text::before {
  content: '<!--';
  top: -49px;
  left: -8px;
}

h1.gradient-text::after {
  content: '-->';
  top: 0px;
  left: 0x;
}