<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper | relative" role="banner">
  <div class="site-head | ontop spot-color-primary">
    {% set activePage = page.url | url %}
   <a href="/" class="logo site-head__brand | no-underline" {% if activePage === '/' %} aria-current="page" {% endif %}>
    <img src="https://raw.githubusercontent.com/megbosh/megcodesemail/6aa38cd783113d6eff94b8d87eea55b0b6b875dd/src/assets/images/megcodesemaillogo.svg?token=AOJUEV72TUZCE56CY3VZYF3FLQEFI" alt="MegCodesEmail logo"></a>
    {% include "partials/menu.njk" %}
  </div>
</header>
