<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper | relative" role="banner">
  <div class="site-head | ontop spot-color-primary">
    {% set activePage = page.url | url %}
   <a href="/" class="logo site-head__brand | no-underline" {% if activePage === '/' %} aria-current="page" {% endif %}>
    <img src="https://raw.githubusercontent.com/megbosh/megcodesemail/b53e68423eb4189e0c73c185d8654927fbb744f2/src/assets/images/megcodesemaillogo.svg?token=AOJUEV3QXB5DI27M2XE7ARLEKV724" alt="MegCodesEmail logo">
    </a>

    {% include "partials/menu.njk" %}
  </div>
</header>
